/* author: Jenaro Calvino
https://codepen.io/jenaroc/pen/BagQbBx
*/

body {
  background-color: hotpink;
  overflow: hidden;
}

@keyframes move-x {
  from {
    background-position-x: 0vw;
  }
  to {
    background-position-x: -100vw;
  }
}
@keyframes move-y {
  from {
    background-position-y: 50%;
  }
  to {
    background-position-y: 52%;
  }
}
.img {
  position: absolute;
  image-rendering: pixelated;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-repeat: repeat-x;
}

.bg {
  background-image: url("https://assets.codepen.io/3864932/bg.png");
  background-size: cover;
  background-position: center;
}

.clouds {
  background-image: url("https://assets.codepen.io/3864932/clouds.png");
  animation: move-x 7s steps(60) infinite, move-y 3s steps(2) infinite;
  height: 50vh;
}

.clouds-front {
  background-image: url("https://assets.codepen.io/3864932/cloudsfront.png");
  animation: move-x 4s steps(60) infinite, move-y 1s steps(2) infinite;
  height: 50vh;
}

.beach {
  background-image: url("https://assets.codepen.io/3864932/beach.png");
  animation: move-x 15s steps(120) infinite;
  background-position-y: bottom;
  height: 60vh;
  bottom: 0;
  background-size: contain;
}

@keyframes char {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: calc(calc(-1 * var(--steps)) * var(--size));
  }
}
.char {
  --size: 64px;
  --steps: 5;
  background-image: url("https://assets.codepen.io/3864932/character.png");
  bottom: 20px;
  left: 50px;
  background-size: calc(var(--steps) * 100%);
  background-repeat: no-repeat;
  width: var(--size);
  height: calc(2 * var(--size));
  animation: char 1s steps(var(--steps)) infinite;
}